* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
    max-width: 730px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

#post-list .post h2 {
    margin: 0;
    padding: 0;
}

#post-list .post time {
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* display: contents; */
}

#post-list .post {
    margin-bottom: 20px;
}